<!DOCTYPE html>
<html>
  <head>
    <title>FreeBook</title>
    <meta property="og:title" content="Freebook" />
     <meta name="image" property="og:image" content="https://github.com/alex-ciminillo/freeBook/blob/main/app/assets/images/project_pic.png">
     <meta property="og:description"
       content="Freebook is a Facebook clone which allows you to interact with your friends. You can visit friends' profiles, add posts to the main newsfeed, your profile, or your friend's, and comment on posts. You can additionally upload photos to posts, and change your profile and background photos. Being a key social media feature, you can of course send friend requests and accept friend requests."
     />
     <meta property="og:url"
       content="https://free--book.herokuapp.com/"
     />
    <script type="text/javascript">
      window.profilePicURL = "<%= image_url('profile_pic.jpg') %>";
      window.profileBackgroundURL = "<%= image_url('married.jpg') %>";
      window.friend1URL = "<%= image_url('friend_1.png') %>";
      window.friend2URL = "<%= image_url('friend_2.jpg') %>";
      window.friend3URL = "<%= image_url('friend_3.jpg') %>";
      window.friend4URL = "<%= image_url('friend_4.jpg') %>";
      window.friend5URL = "<%= image_url('friend_5.jpg') %>";
      window.friend6URL = "<%= image_url('friend_6.webp') %>";
      window.friend7URL = "<%= image_url('friend_7.jpg') %>";
      window.friend8URL = "<%= image_url('friend_8.jpg') %>";
    </script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('facebook_logo.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
